{{ define "main" }}
<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21456&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21456" data-site="production"
data-presence="on" data-ws="beta.glance.net"  data-cookiedomain="flex2.onrender.com" data-visitorid="776655" agentvideo=1 charset="UTF-8"></script>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">



{{ partial "jumbotron" . }}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Experience</h2>
            <p>Put our experience to work – we’re a leading mortgage lender with options to fit your needs.</p>
        </div>
        <div class="col-sm">
            <h2>Guidance</h2>
            <p>You’re not in it alone – we’ll help find a loan that’s right for you.</p>
        </div>
        <div class="col-sm">
            <h2>Ongoing Support</h2>
            <p>It doesn’t end when you get the keys – we’re here for you as you grow into your new home.
            </p>
        </div>
    </div>
</div>
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/glancenetworks/mortgage-review" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

<input type=hidden name="oid" value="00D4x000006srqB">
<input type=hidden name="retURL" value="https://ww2.glance.net/">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="ntosh@glance.net">        -->
<!--  ----------------------------------------------------------------------  -->

<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

<label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>

<label for="state">State/Province</label><input  id="state" maxlength="20" name="state" size="20" type="text" /><br>

<input type="submit" name="submit">

</form>

{{ end }}
