{{ define "main" }}
<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21456&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21456" data-site="production"
data-presence="on" data-ws="beta.glance.net"  data-cookiedomain="flex2.onrender.com" data-visitorid="776655" agentvideo=1 charset="UTF-8"></script>
{{ partial "jumbotron" . }}
<div class="container">
    <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
            <h2>We're here to help</h2>
            <p>Connect with a lending specialist and start your journey into a new home.</p>
            <div class="find-widget">
                Company: <a href="https://hostriver.ro">Global Home Lending</a>
            </div>
            <div class="find-widget">
                Address: <a href="#">4435 Berkshire Circle Knoxville</a>
            </div>
            <div class="find-widget">
                Phone: <a href="#">800-555-2222</a>
            </div>
            <div class="find-widget">
                Website: <a href="https://chasehldemo.glance.net/">chasehldemo.glance.net</a>
            </div>
            <div class="find-widget">
                Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
            </div>
        </div>
        <!-- contact form -->
        <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
            <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                <!-- Name -->
                <div class="form-group label-floating">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                </div>
                <!-- email -->
                <div class="form-group label-floating">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Subject -->
                <div class="form-group label-floating">
                    <label class="control-label">Subject</label>
                    <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Message -->
                <div class="form-group label-floating">
                    <label for="message" class="control-label">Message</label>
                    <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Form Submit -->
                <div class="form-submit mt-5">
                    <button class="btn btn-success" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}
